.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(27, 59, 67);
    color: #fff;
}

.header.logo{
    justify-content: left;
}