.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1em;
    /*margin-bottom: 2em*/ 
    background-color: rgb(27, 59, 67);
    color: #fff;
}

.header.logo{
    justify-content: left;
}

.language{
    display: block;
    color:white;
    font: 1.2rem 'Fira Sans', sans-serif;
    border: 1px solid rgb(219, 225, 228);
    background-color: rgb(27, 59, 67);
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}